:root {
    --clr-purple: rebeccapurple;
    --clr-white: #F7F8F9;
    --clr-black: #3E3E3E;

    --clr-gray-100: color-mix(in srgb, var(--clr-white) 90%, var(--clr-black));
    --clr-gray-200: color-mix(in srgb, var(--clr-white) 80%, var(--clr-black));
    --clr-gray-300: color-mix(in srgb, var(--clr-white) 70%, var(--clr-black));
    --clr-gray-400: color-mix(in srgb, var(--clr-white) 60%, var(--clr-black));
    --clr-gray-500: color-mix(in srgb, var(--clr-white) 50%, var(--clr-black));

    --clr-text: var(--clr-purple);
    --clr-background: var(--clr-white);

    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    max-width: 1080px;
    min-height: 100vh;
    color: var(--clr-text);
    background-color: var(--clr-background);
    font-family: var(--font-family);
    margin: 0 auto;
    padding: 1rem 2rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hidden {
    display: none !important;
}

hr {
    width: 100%;
    color: var(--clr-gray-200);
    opacity: 0.5;
    margin-block: 0.25rem;
}

#search-input {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1.25em;
    border-radius: 8px;
}

#ascii-table {
    width: 100%;
}

#ascii-table td,
#ascii-table th {
    text-align: right;
    border: 1px solid var(--clr-gray-100);
    padding: 0.75rem;
}

#ascii-table th {
    font-weight: bold;
    background-color: var(--clr-purple);
    color: var(--clr-white);
}

#ascii-table thead {
    background-color: var(--clr-gray-300);
    position: sticky;
    top: 4px;
}

/* #ascii-table tbody tr:nth-child(even) {
    background-color: var(--clr-gray-200);
} */

#ascii-table tr td:first-child {
    font-weight: bold;
}

#ascii-table tbody tr:hover {
    background-color: var(--clr-gray-100);
}
